{% extends 'base.html.twig' %}

{% block title %}Inventario{% endblock %}

{% block body %}

<div class= "overflow-hidden flex items-center justify-center" >
    <div class="shadow overflow-hidden sm:rounded-md bg-white" style="margin-top:20px;margin-bottom:3px;padding:10px">
        <div class="inset-x-0 bottom-0">
           <div style="position:relative;z-index:1;margin-bottom:10px">
            <a href="/inventario/create">
              <button class="hover:bg-green-400 bg-green-500 text-white font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
                  nuevo inventario
              </button>
            </a>
           </div>
           <table id="tabla-inventario" class="">
                <thead class="text-white">
                    <tr style=" background-color:#1DABE0" class="block text-sm font-medium  bold flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th> 
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                    </tr>  
                </thead>
             <tfoot>
             <tr>
               <th class="p-3 text-left"></th>
               <th class="p-3 text-left">
                 <input type="text" placeholder="Buscar por Mac">
               </th>
               <th class="p-3 text-left"></th>
               <th class="p-3 text-left"></th>
               <th class="p-3 text-left"></th>
               <th class="p-3 text-left">
                 <input type="text" placeholder="Buscar por IP">
               </th>
               <th class="p-3 text-left"></th>
             </tr>
             </tfoot>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    let dataSetRemove = JSON.parse("{{ response }}".replace(/&quot;/g,'"'));
    let table = $('#tabla-inventario').DataTable( {
        initComplete: function () {
            this.api().columns([2,3, 4]).every( function () {
                let column = this;
                let select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        let val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );

            this.api().columns([1, 5]).every( function () {
                let that = this;

                $( 'input', this.footer() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        },
        data: dataSetRemove,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false ,
        language: {
          'paginate': {
            'previous': '<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Prev</button>',
            'next':'<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Next</button>'
          },
          searchPlaceholder: "Buscar modelo...",
        },
        search: false,
        columns: [
            { title: "#", "width":100 },
            { title: "Mac", "width":300 },
            { title: "Modelo", "width":300 },
            { title: "Marca", "width":100 },
            { title: "Tipo", "width":200 },
            { title: "IP", "width":200 },
            { title: "", "width":300},
        ], 
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": "<button id='edit' class='view bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' style='margin-left:6px'>Editar</button>" +
                              "<button id='delete' class='view bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' style='margin-left:6px'>Eliminar</button>"
        } ]
    } );
    $('#tabla-inventario tbody').on( 'click', 'button', function () {
        let action = this.id;
        let is = $(this);
        let row = table.row( is.parents('tr') );
        let data = row.data();
        if(action === 'edit'){
          window.location.href = "/inventario/edit/"+data[0];
        }
        if(action === 'delete'){
          $.sweetModal.confirm('¿Seguro de eliminar?', function() {
            $.ajax({
              type: 'POST',
              url: "/inventario/delete/"+data[0],
              dataType: 'json',
              success: function(a){
                if(a.status === true){
                  if ($(row).hasClass('child')) {
                    table.row($(row).prev('tr')).remove().draw();
                  } else {
                    table
                      .row(is.parents('tr'))
                      .remove()
                      .draw();
                  }
                  $.sweetModal(a.msg);
                }else{
                  $.sweetModal(a.msg);
                }
              }
            });
          }, function(){
            $.sweetModal('Se ha cancelado la eliminacion');
          });
      }
    } );
    let input = $('#tabla-inventario_filter label input');
    $("#tabla-inventario_filter label").html('');

} );
</script>
<style>
    html,
    body {
      height: 100%;
    }
    .even{
      background:#F2F2F2 !important;
    }
     #tabla-inventario_wrapper{
      max-width:1320px
    }
    @media (min-width: 640px) {
      table {
        display: inline-table !important;
      }
  
      thead tr:not(:first-child) {
        display: none;
      }
    }


    th select {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #tabla-inventario_filter{
      margin-bottom:10px;
    }
    #tabla-inventario_filter input{
      border-radius:10px;
      background-color:#FaFaFa; 
      padding:10px;
    }
  </style>
{% endblock %}
