{% extends 'base.html.twig' %}
{% block body %}
    <div class="overflow-hidden flex flex-shrink p-4 md:flex-shrink-0">
        <div style="width:1320px; margin:0 auto; ">
            <span style="font-size:38px;font-family: 'Gill Sans Extrabold', Helvetica, sans-serif">{{ name }}</span>
        </div>
    </div>
    <div class= "overflow-hidden flex items-center justify-center" >
        <div class="shadow overflow-hidden sm:rounded-md bg-white" style="margin-top:3px;margin-bottom:3px;padding:10px">
            <div class="inset-x-0 bottom-0">
                <div style="position:absolute;z-index:1">
                </div>
                <table id="tabla-clientes" class="">
                    <thead class="text-white">
                        <tr style=" background-color:#1DABE0" class="block text-sm font-medium  bold flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                            <th class="p-3 text-left"></th>
                            <th class="p-3 text-left"></th>
                            <th class="p-3 text-left"></th>
                            <th class="p-3 text-left"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  <script>
      let dataSet = "{{ response }}";
      let dataSetRemove = JSON.parse(dataSet.replace(/&quot;/g,'"'));
      let table = $('#tabla-clientes').DataTable( {
          data: dataSetRemove,
          "bLengthChange": false,
          "bFilter": true,
          "bInfo": false,
          "bAutoWidth": false ,
          language: {
              'paginate': {
                  'previous': '<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Prev</button>',
                  'next':'<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Next</button>'
              },
              searchPlaceholder: "Buscar...",
          },
          columns: [
              { title: "#", width: 100 },
              { title: "Direccion", width: 200 },
              { title: "IP", width: 300 },
              { title: "", width: 200},
          ],
          "columnDefs": [ {
              "targets": -1,
              "data": null,
              "defaultContent": "<button id='view' class='view bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>Generar ticket</button>"
          } ]
      } );
      $('#tabla-clientes tbody').on( 'click','button', function () {
          let action = this.id;
          let data = table.row( $(this).parents('tr') ).data();
          if (action==='view')
              window.location.href = "/tickets/create/"+"{{ id }}"+"/"+data[0];
      } );
     /* let m = $("#new_ticket_fkClient :selected");
      function startFetch(v){
          $.ajax({
              type: 'POST',
              url: '/tickets/fetchAddress/'+v,
              dataType: 'json',
              success: function(address){
                  $("#new_ticket_fkAddress").empty();
                  for (let i=0;i<address.address.length;i++){
                      $('<option/>').val(address.address[i]['id']).html(address.address[i]['address']).appendTo('#new_ticket_fkAddress');
                  }

              }
          });
      }
      startFetch(m.val());
      $("#new_ticket_fkClient").on('change', function(){
          let sel = this;
          startFetch(sel.value);
      })

      $("#form-ticket").submit(function(e){
          e.preventDefault();
          let form = new FormData(this);
          alert(form.get('new_ticket[fkAddress]'));
          $.ajax({
              type: 'POST',

              processData: false,
              contentType: false,
              data: form,
              dataType: 'json',
              success: function(s){
                  $.sweetModal({
                      content: s.msg,
                      icon: $.sweetModal.ICON_ERROR,
                  });
                  /*if(s.status == true){
                      $.sweetModal({
                          content: s.msg,
                          icon: $.sweetModal.ICON_SUCCESS,
                          onClose: function(){
                              window.location.href='/clientes'
                          }
                      });
                  }else{
                      $.sweetModal({
                          content: s.msg,
                          icon: $.sweetModal.ICON_ERROR,

                      });
                  }*/
            /* }
          });

      })*/
  </script>

{% endblock %}