{% extends 'base.html.twig' %}

{% block title %}Hello TicketsController!{% endblock %}

{% block body %}
<div class="pageHeader">
    <div class="overflow-hidden flex flex-shrink p-4 md:flex-shrink-0">
      <div class="flex space-x-2 box-border ">
        <p class="font-sans text-xl">Tickets</p>
        <form action="/tickets/create">
          <input type="submit"  value="+"class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-3 rounded focus:ring-2">
        </form>
      </div>
    </div>
</div>
<div class= "overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <div class="flex items-center justify-center">
        <div class="inset-x-0 bottom-0">
            <div id="tabla-equipo">Loading...</div>
            <script type="text/javascript">
               $(function() {
                   $('#tabla-equipo').initDataTables({{ datatable_settings(datatable) }}, { searching: true });
              });
            </script>
            
        </div>
    </div>
</div>
<style>
    html,
    body {
      height: 100%;
    }
    @media (min-width: 640px) {
      table {
        display: inline-table !important;
      }
      thead tr:not(:first-child) {
        display: none;
      }
    }
    td:not(:last-child) {
      border-bottom: 0;
    }
    th:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
  </style>
{% endblock %}
