{% extends 'base.html.twig' %}
{% block title %}Clientes{% endblock %}
{% block body %}
<div class="overflow-hidden flex flex-shrink p-4 md:flex-shrink-0">
  <div style="width:1320px; margin:0 auto; ">
    <span style="font-size:38px;font-family: "Gill Sans Extrabold", Helvetica, sans-serif">Clientes</span>
  </div>
</div>
<div class= "overflow-hidden flex items-center justify-center" >
    <div class="shadow overflow-hidden sm:rounded-md bg-white" style="margin-top:3px;margin-bottom:3px;padding:10px">
        <div class="inset-x-0 bottom-0">
           <div style="position:absolute;z-index:1">
            <a href="/clientes/create">
              <button class="hover:bg-green-400 bg-green-500 text-white font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
                 nuevo cliente
              </button>
            </a>
           </div>
           <table id="tabla-clientes" class="">
                <thead class="text-white">
                    <tr style=" background-color:#1DABE0" class="block text-sm font-medium  bold flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th>
                        <th class="p-3 text-left"></th> 
                        <th class="p-3 text-left"></th> 
                    </tr>  
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var dataSet = "{{ response }}";
    var dataSetRemove = JSON.parse(dataSet.replace(/&quot;/g,'"'));
    var table = $('#tabla-clientes').DataTable( {
        data: dataSetRemove,
        language: {
          'paginate': {
            'previous': '<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Prev</button>',
            'next':'<button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r rounded-l">Next</button>'
          },
          searchPlaceholder: "Buscar...",
        },
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false ,
        columns: [
            { title: "#", "width":100 },
            { title: "Nombre", "width":300},
            { title: "Correo", "width":100 },
            { title: "Telefono", "width":100 },
            { title: "", "width":200},
        ],
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "width": 300,
            "defaultContent": "<button id='view' class='view bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded'>Mostrar</button>"+
                              "<button id='delete' class='view bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' style='margin-left:6px'>Eliminar</button>"
        } ]
    } );
    var input = $('#tabla-clientes_filter label input');
    $("#tabla-clientes_filter label").html('');
    $("#tabla-clientes_filter label").append(input);
    $('#tabla-clientes').on( 'click','button', function () {
        var action = this.id;
        var is = $(this);
        var row = table.row( is.parents('tr') );
        var data = row.data();

        if (action=='view'){
            window.location.href = "/clientes/show/"+data[0];
        }
        if(action == 'delete'){
            $.sweetModal.confirm('¿Seguro de eliminar?', function() {
                $.ajax({
                    type: 'POST',
                    url: "/clientes/delete/"+data[0],
                    dataType: 'json',
                    success: function(a){
                        if ($(row).hasClass('child')) {
                            table.row($(row).prev('tr')).remove().draw();
                        } else {
                            table
                                .row(is.parents('tr'))
                                .remove()
                                .draw();
                        }
                        $.sweetModal(a.msg);
                    }
                });
                ;
            }, function(){
                $.sweetModal('Se ha cancelado la eliminacion');
            });
        }
    } );
} );
</script>
<style>
    html,
    body {
      height: 100%;
    }
    @media (min-width: 640px) {
      table {
        display: inline-table !important;
      }
  
      thead tr:not(:first-child) {
        display: none;
      }
    }
    td:not(:last-child) {
      border-bottom: 0;
    }
    th:not(:last-child) {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
    #tabla-clientes_filter input{
      border-radius:10px;
      background-color:#FaFaFa; 
      padding:10px;
    }
  </style>
{% endblock %}
