{% extends 'base.html.twig' %}

{% block body %}
<div class ="sm:mt-0 px-6">
    <div class="md:grid md:grid-cols-5 md:gap-5 md:mt-5">
        <p class="text-center mt-1 font-mono text-xl font-bold relative">Datos Personales</p>
        <div class="md:mt-0 md:col-start-0 col-end-1">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="nombre" class="block text-sm font-medium text-gray-700 bold">Nombre Completo:</label>
                            <p class="font-bold">{{ name }}</p>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="email" class="block text-sm font-medium text-gray-700 bold">Email:</label>
                            <p class="font-bold">{{ email }}</p>
                        </div>
                        
                        <div class="col-span-6 sm:col-span-3">
                            <label for="telefono" class="block text-sm font-medium text-gray-700 bold">Telefono:</label>
                            <p class="font-bold">{{ phone }}</p>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <a href="/clientes/ID/edit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:grid md:grid-cols-0 md:gap-0 md:mt-5">
                <p class="text-center mt-1 font-mono text-xl font-bold relative">Direcciones</p>
                <div class="md:mt-0 md:col-start-0 col-end-1">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 sm:col-span-2">
                                    <label for="domicilio" class="block text-sm font-medium text-gray-700 bold">Domicilio:</label>
                                    <p class="font-bold">DOMMICLIO</p>
                                </div>
                            
                                <div class="col-span-6 sm:col-span-2">
                                    <label for="sitios" class="block text-sm font-medium text-gray-700 bold">Sitio Conectado</label>
                                    <p class="font-bold">ZONA</p>
                                </div>
                                <div class="col-span-6 sm:col-span-2">
                                    <label for="paquete" class="block text-sm font-medium text-gray-700 bold">Paquete</label>
                                    <p class="font-bold">PAQUETE</p>
                                </div>
                                <div class="col-span-6 sm:col-span-3 ">
                                    <label for="paquete" class="block text-sm font-medium text-gray-700 bold">MAC del Equipo</label>
                                    {#@if(isset($d->fk_mac))
                                        <p class="font-bold">{{ $d->fk_mac }}</p>
                                    @else
                                        <p class="font-bold text-cool-gray-500">Sin asignar</p>
                                    @endif #}
                                
                                </div>
                                <div class="col-span-6 sm:col-span-3">
                                    <a href="/clientes/ID/edit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">Editar</a>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="md:grid md:grid-cols-5 md:gap-0 md:mt-5">
                <p class="text-center mt-1 font-mono text-xl font-bold relative grid col-start-2 col-end-4 row-start-1 left-15">Tickets Registrados</p>
                <div class= "md:mt-0 md:col-start-1 col-end-6" style="background: #edf2f7;">
                    <div class="shadow overflow-y-auto sm:rounded-m">
                        <div class="inset-x-0 bottom-0">
                            @if(count($ticket)>=1)
                            <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
                                <thead class="text-white">
                                @foreach ($ticket as $tick)  
                                    <tr class="bg-teal-400 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                                        <th class="p-2 text-center">Id</th>
                                        <th class="p-2 text-center">Fecha</th>
                                        <th class="p-2 text-center">Descripcion</th>
                                        <th class="p-2 text-center">Estado</th>
                                        <th class="p-2 text-left" width="110px" >Problematica</th>
                                    </tr>
                                @endforeach
                                </thead>
                                <tbody class="flex-1 sm:flex-none">
                                @foreach ($ticket as $tick)
                                    <tr class="flex flex-col flex-no wrap sm:table-row mb-3 sm:mb-0">
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 truncate text-sm">IDTICKET</td>
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 truncate text-sm">TICKETFECHA</td>
                                        <td class="border-grey-light border hover:bg-gray-100 p-2  text-sm">TICKETDESCRIPCION</td>
                                        @switch($tick->estado)
                                            @case('Nuevo')
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 truncate text-sm"><span class='text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-green-600 bg-green-200 last:mr-0 mr-1'>Nuevo</span></td>
                                                @break
                                            @case('Abierto')
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 truncate text-sm"><span class='text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-yellow-600 bg-yellow-200 last:mr-0 mr-1'>Abierto</span></td>
                                                @break
                                            @case('Resuelto')
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 truncate text-sm"><span class='text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-gray-600 bg-gray-200 last:mr-0 mr-1'>Resuelto</span></td>
                                                @break
                                            @default     
                                        @endswitch
                                        <td class="border-grey-light border hover:bg-gray-100 p-2 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer text-sm"><a href="/tickets/TICKETID">TICKET TIPO DE PROBLEMA</a></td>
                                    </tr>
                                @endforeach   
                                </tbody>  
                             </table>
                                @else
                            <p class="font-bold text-green-600 text-center text-lg p-7">No cuenta con tickets registrados</p>
                                @endif 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <style>
        html,
        body {
                height: 100%;
            }
        @media (min-width: 640px) {
            table {
                display: inline-table !important;
            }

            thead tr:not(:first-child) {
                display: none;
            }
        }
        td:not(:last-child) {
            border-bottom: 0;
        }
            th:not(:last-child) {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        }
    </style>
{% endblock %}